// Vars
$white: #ffffff;
$gray: #969696;

body {
    background-color: #f9f9fa;
}

h3, .h3 {
    font-size: 1.56rem;
}

p {
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

hr {
    margin: 10px 0;
    background-color: #c9c9c9;
}

.text-gray,
.card-subtitle {
    color: $gray;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.display-3 {
    font-size: 2.5rem;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.stretch-card {
    &.card {
        width: 100%;
        min-width: 100%;
    }
}

.padding {
    padding: 5rem;
}

.grid-margin,
.purchace-popup > div {
    margin-bottom: 25px;
}

header {
    margin: 40px 0;

    .logo {
        width: 160px;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    &-body {
        background: $white;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    &-weather {
        background: #e1ecff;
        background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff);

        .weather {
            &-date {
                span {
                    text-transform: capitalize;
                }
            }

            &-data {
                padding: 0 0 4.75rem;
            }

            &-date-location {
                padding: 0 0 35px;

                h3 {
                    text-transform: capitalize;
                }
            }
        }


        .weakly-weather {
            background: $white;
            overflow-x: auto;

            &-item {
              flex: 0 0 14.28%;
              border-right: 1px solid #f2f2f2;
              padding: 1rem;
              text-align: center;
            }
        }
    }

    &-weather &-body {
        &:first-child {
            background: url('../assets/img/weather.svg') no-repeat center;
            background-size: cover;
        }
    }
}

/**
    Loader Facebook Style
*/
// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.text-line {
    height: 10px;
    width: 230px;
    margin: 4px 0;
    @extend .animated-background;
  }

@media (max-width: 991.98px) {
    .padding {
      padding: 1.5rem;
    }
}

@media (max-width: 767.98px) {
    .form-select {
        margin-top: 30px;
    }

    .padding {
      padding: 1rem;
    }

    .card {
        &-weather {
            .weakly-weather {
                &-item {
                  flex: 0 0 42%;

                }
            }
        }
    }
}
